* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#modulesSelectPanel
{
	position:absolute;
	top:0px;
	  background-color: lightgray;
}

.moduleBlock, .componentBlock
{
	width:30px;
	height:30px;
	background-size: cover;
	margin: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
  	background-repeat: no-repeat;
}

.moduleBlock:hover, .componentBlock:hover
{
	border-color: yellow;
}

.moduleBlock.selected
{
	border-width: 3px;
	border-color: green;
}

.componentDivider
{
	text-align: center;
  	padding: 2px 0px;
}